* {
    box-sizing: border-box;
}

html, body{
  background: url(/images/f_we_the_people_smallest_vp400px.png) no-repeat fixed rgb(203, 195, 177);

}

body {
    text-align:center;
    width:100%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.mainheader {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px #000000;
    margin-top: absolute;
    line-height: 2rem;
}

.description1, .description2 {
  text-align: left;
  margin: 4%;
  line-height: 1.1rem;
  font-family: Verdana, sans-serif;
  font-size: .8rem;
  font-weight: lighter;
  text-shadow: 4px 4px 9px #ffffff;
}


/* Senate Seal Image */
.senateSeal200px {
  max-width: 15%;
}

.congress {
  width: 60%;
  height: auto;
  border-width: 2px black;
  border: 5px;
}

.congress_floor {
  margin: 3%;
  width: 60%;
}

/* every vote circle image */
.every_vote_image {
    width: 20%;
    margin-top: 5%;
    margin-left: auto ;
    margin-bottom: auto ;
    height: auto;
}

.enterLink { 
    margin-top: 1px;
    margin-left: 28%;
    margin-right: 28%;
    display: block;
    font-size: .8em;
    border-style: solid;
    text-align: center;
    color: rgb(114, 111, 111);
    background-color: rgb(255, 255, 255);
    font-family: Verdana, sans-serif;
    font-weight: lighter;

}
  
.enterLink:hover {

    color: rgb(10, 10, 9);
  }

  footer {
    padding-top: 2px;
      font-size: .6rem;
      font-family: Verdana, sans-serif;
      font-weight: lighter;
  }
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  h6 {
      font-style: italic;
      
      margin-top: 10px;
      text-shadow: 3px 3px 8px #000000;
      color: rgb(255, 255, 255);
      font-size: 1.3rem;
  }


/* Media Queries Start */ 


@media only screen and (min-width: 620px) {
  /* Tablet */
  html, body{
    background: url(/images/we-the-people_800px.png) no-repeat fixed rgb(203, 195, 177);
  }
}
  .mainheader {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 8px #000000;
    margin-top: absolute;
    padding-top: 8%;
    font-size: 1.5rem ;
    line-height: 2rem;
}

  .description1, .description2 {
    text-align: left;
    font-size: 1.5rem;
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 3%;
    line-height: 2rem;
    font-family: Verdana, sans-serif;
    font-weight: lighter;
    text-shadow: 3px 3px 8px #000000;
    color: whitesmoke;
}

.description3 {
  display: none;
}

/* Senate Seal Image */
.senateSeal200px {
    display: none;
}

/* every vote circle image */
.every_vote_image {
    width: 10%;
    margin-top: 1%;
}

.congress_floor {
  margin: -2%;
  width: 45%;
}

/* every vote circle image */
.every_vote_image {
  width: 15%;
  margin-top: 7%;
  margin-bottom: auto ;
  height: auto;
}

.enterLink { 
  margin-top: -5px;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 7%;
  display: block;
  font-size: .8em;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  color: rgb(114, 111, 111);
  background-color: rgb(255, 255, 255);
  font-family: Verdana, sans-serif;
  font-weight: lighter;
}

@media only screen and (min-width: 1024px) {
  /* Desktop */
  html, body{
    background: url(/images/Constitution_of_the_United_States_page_1_LG_VP.jpg)  no-repeat fixed rgb(203, 195, 177);
text-align: left auto;
text-align: right auto;
  }
}

  .mainheader {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 8px #000000;
    margin-top: -6%;
    font-size: 1.2rem ;
    line-height: 2rem;
}

  .description1, .description2 {
    text-align: left;
    font-size: 1.5rem;
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 3%;
    color:  rgb(52, 50, 50);
    line-height: 2rem;
    font-family: Verdana, sans-serif;
    text-shadow: 3px 3px 8px #f4e5e5;
}

/* Senate Seal Image */
.senateSeal200px {
  max-width: 15%;
}

/* every vote circle image */
.every_vote_image {
    width: 10%;
    margin-top: 1%;
}

.congress_floor {
  margin: -2%;
  width: 45%;
}

/* every vote circle image */
.every_vote_image {
  width: 15%;
  margin-top: 7%;
  margin-bottom: auto ;
  height: auto;
}

.enterLink { 
  margin-top: -5px;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 7%;
  display: block;
  font-size: .8em;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  color: rgb(114, 111, 111);
  background-color: rgb(255, 255, 255);
  font-family: Verdana, sans-serif;
  font-weight: lighter;
}