body {
    text-align:center;
    width:100%;
    margin:0 auto;
    padding:0px;
    font-family: "Myriad Pro", "Helvetica Neue", Arial, sans-serif;
    background-color: gray;
}

#wrapper {
margin: 0px auto;
padding: 0px;
text-align: center;
}

#register_div {
display:none;
}

#wrapper section h1 {
 color:rgb(216, 216, 216);
 //font-size:30px;
 margin:0px;
 background-color:rgb(98, 100, 98);
 height:60px;
 line-height:65px;
}

section input[type="text"] {
 width:220px;
 height:40px;
 padding-left:5px;
 font-size:15px;
}

section input[type="email"] {
 width:220px;
 height:40px;
 padding-left:5px;
 font-size:15px;
}

section input[type="password"] {
 width:220px;
 height:40px;
 padding-left:5px;
 font-size:15px;
}

section input[type="submit"] {
 width:220px;
 height:40px;
 background-color:rgb(115, 117, 115);
 border:none;
 color:white;
 font-weight:bold;
}

section .change_link {
 color:rgb(221, 223, 221);
}

section .change_link input[type="button"] {
 background:none;
 border:none;
 text-decoration:underline;
 color:#2E64FE;
 font-size:15px;
 cursor:pointer;
}
