* {
    box-sizing: border-box;
}

html, body{
    margin-top: -11px;
    margin-left:-10px;
    margin-right: -10px;
    overflow-x: hidden;
}

body {
    text-align:center;
    width:100%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: rgb(221, 203, 180);
}

.mainheader {
    background-image: url(images/we-the-people.jpg);
    background-size: cover;
    background-color: rgb(0,0,0);
    background-blend-mode: multiply .2;
    color: rgb(51, 45, 45);
    margin-top: absolute;
    line-height: 2rem;
    text-shadow: rgb(219, 219, 216) 2px 3px 2px;
}

.congress {
    width: 60%;
    height: auto;
    border-width: 2px black;
    border: 10px;
}

.every_vote_image {
    width: 20%;
    margin-top: -5%;
    margin-left: auto ;
    margin-bottom: auto ;
    height: auto;

}


.enterLink { 
    margin-top: -10px;
    margin-left: 28%;
    margin-right: 28%;
    display: block;
    font-size: .8em;
    border-style: solid;
    text-align: center;
    color: rgb(114, 111, 111);
    background-color: rgb(255, 255, 255);
    font-family: Verdana, sans-serif;
    font-weight: lighter;

}
  
.enterLink:hover {
    background-color: rgb(189, 146, 91);
    color: rgb(10, 10, 9);
  }

  footer {
      padding-top:30px;
      font-size: .6rem;
      font-family: Verdana, sans-serif;
      font-weight: lighter;
  }
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  h6 {
      font-style: italic;
      font-weight: lighter;
      margin-top: 10px;
  }


  @media only screen and (min-width: 680px) {
    body {
      background-color: lightblue;
    }
  }

  .every_vote_image {
    width: 20%;
    margin-top: -3%;
    margin-left: auto ;
    margin-bottom: auto ;
    height: auto;

}