* {
    box-sizing: border-box;
}

html, body{
    margin-top: -11px;
    margin-left:-10px;
    margin-right: -10px;
}


body {
    text-align:center;
    width:100%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: rgb(221, 203, 180);
}

.mainheader {
background-image: url(images/we-the-people.jpg);
background-size: cover;
background-color: rgb(0,0,0);
background-blend-mode: multiply .2;
color: rgb(51, 45, 45);
margin-top: absolute;
line-height: 2rem;
text-shadow: rgb(219, 219, 216) 2px 3px 2px;
}



.congress {
    width: 60%;
    height: auto;
    border-width: 2px black;
    border: 10px;
}

.every_vote_image {
    width: 20%;
    margin-left: auto ;
    margin-bottom: auto ;
    height: auto;
    border-width: 2px black;
    border: 100px;
}

.button3 {
    background-color: white; 
    color: black; 
    border: 2px solid rgb(125, 129, 125);
  }
  
  .button3:hover {
    background-color: rgb(153, 115, 10);
    color: white;
  }

  .button3 a:hover {
    background-color: rgb(153, 115, 10);
    color: rgb(97, 11, 11);
  }