body {
    text-align:center;
    width:100%;
    margin:0 auto;
    padding:0px;
    font-family: "Myriad Pro", "Helvetica Neue", Arial, sans-serif;
}


.congress {
    width: 60%;
    height: auto;
    border-width: 2px black;
    border: 10px;
}

.every_vote_image {
    width: 20%;
    margin-left: auto ;
    margin-bottom: auto ;
    height: auto;
    border-width: 2px black;
    border: 100px;
}