* {
  box-sizing: border-box;
}

html, body {
  text-align:center;
  width:100%;
  margin:0 auto;
  padding:0px;
  margin-top: -11px;
  margin-right: -1px;
  margin-left: -1px;
  overflow-x: hidden;
}

  /*background-color: rgb(221, 203, 180);*/

/* When the input field gets focus, change its width to 100% */

h3 {
  font-family: Verdana, sans-serif;
  font-size: 1.1rem;
}

#expVoteInput {
  background-image: url('images/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px;  /*Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 10px;  /*Add some space below the input */
  }
  
#expVoteTable {   /* Voting results  */
  border-collapse: collapse; /* Collapse borders */
  width: 100%; 
  border: 1px solid #ddd; /* Add a grey border */
  font-size: .8rem;
  color: rgb(153, 115, 10);
  font-family: Verdana, sans-serif;
  }
  
#expVoteTable th, #expVoteTable td {
  text-align: left; /*Left-align text*/
  padding: 12px; /* Add padding */
  }
  
#expVoteTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
  }
  
#expVoteTable tr.header, #expVoteTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
  }
#expVoteInput {
  width: 80%;
  }

/* col / row spacing for rep votes and details data */

  .thRep {
width: 40%;
  }

  .thVCount {
width: 40%;
  }

  .thDetail{
width: 20%;
  }

.congressMembersSe {
  display: inline;
  font-style: italic;
  margin-top: 10px;
  font-family: Verdana, sans-serif;
  font-size: .8rem;
  font-weight: lighter;
}

.containerVoteExpBottom {
  padding: 12px 20px 12px 40px; /* Add some padding */
 }

.button1, .button2 {
  background-color: white; 
  color: black; 
  border: 2px solid rgb(125, 129, 125);
  padding-right: 3px;
}

.button1:hover, .button2:hover {
  background-color: rgb(153, 115, 10);
  color: white;
}

.backToIndex {
  width: 5%;
  padding:5px;
}

.mainheader {
  background-color: rgb(15, 15, 14);

}

.every_vote_image {
  width: 20%;
  margin-left: auto ;
  margin-bottom: auto ;
  height: auto;
  border-width: 2px black;
  border: 100px;
}

#expVoteTable {
  /*background-image: url(images/we-the-people.jpg);*/
  background-size: cover;
  background-color: rgb(219, 208, 206);
  color: rgb(0, 0, 0);
  margin-top: absolute;
  background-blend-mode: multiply .5;
}

.main {
  /*background-image: url(images/we-the-people.jpg);*/
  background-size: cover;
  background-color: rgb(221, 203, 180);
  color: rgb(0, 0, 0);
  margin-top: absolute;
  background-blend-mode: multiply .5;
}

  /*copyright info;*/
.proPublica, .jherich {
  text-decoration: hidden;
  font: .6em sans-serif;
}

  /*link info to remove underlined links in the footer*/
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h4 {
  font-style: italic;
  margin-top: 10px;
  font-family: Verdana, sans-serif;
  font-size: .8rem;
  font-weight: lighter;
}


@media only screen and (min-width: 680px) {
  body {
    background-color: lightblue;
  }
}