input[type=text1] {
    width: auto;
    height: auto;
    background-image: url('/css/searchicon.png');
    /*background-position: auto; */
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */

input[type=text1]:focus {
    width: 70%;
}

#expVoteInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #expVoteTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
  }
  
  #expVoteTable th, #expVoteTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
  #expVoteTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }
  
  #expVoteTable tr.header, #expVoteTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }
    #expVoteInput {
      width: 80%;
  }

.congressMembersSec {
  width: 90%;
    }

.containerVoteExpBottom {
  padding: 12px 20px 12px 40px; /* Add some padding */
 }